@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
  --bg--color: #131722;
  --light-bg: #24baef;
  --main-font: 'Montserrat', sans-serif;
  --font-color:#fff;
}
body{
  background-color: var(--bg--color);
  font-family: var(--main-font);
  color: var(--font-color);
} 
.myInput{
  background-color: transparent;
  border: 1px solid #a8a8a83d;
  color: var(--font-color);

}